{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="sticky-container">
    {% include 'partials/_navbar.html' %}
</div> 
{% include 'partials/_messages.html' %}

<div class="px-4 py-5 mt-5 mb-3 text-center">
    <h2 class="display-5 fw-bold mb-2">Experience Level {{int_level}}</h2>
    <br>
    <div class="d-block ms-4 me-4">
        <!-- PROGRESS BAR -->
        <div class="progress">                                          <!-- Bar width is fine -->
            <div class="progress-bar bg-dark" role="progressbar" style="width: {{bar_width}}%" aria-valuenow="{{shown_xp}}" aria-valuemin="0" aria-valuemax="1000"></div>
        </div>
        <h3 class="card-text mt-2 ms-1 mb-3" style="text-align: left;">Points : <span class="text-success" style="font-weight: bold">{{shown_xp}}</span> <span style="font-weight: bold">out of 1000</span></h3>
    </div>
    <br>
    
    <form name="add-activity" action="{% url 'add-activity' %}" method="POST">
        {% csrf_token %}
        <!-- CONTAINER -->
        <div class="d-flex">
            <div class="col-lg-6 mx-auto">
                <div class="card mx-auto border border-dark border-1 shadow p-2 mb-5 bg-body rounded" style="border-radius: 0;">
                    <div class="card-body">
                        <div class="d-flex justify-content-start">
                            <img src="https://www.svgrepo.com/show/11536/medal.svg" width="32" height="32" class="mt-0">
                            <h3 class="lead mt-0 fs-4" style="text-align: left; font-weight: bold; margin-top:-15px; margin-left:5px;">Recent Activities</h3>
                        </div>
                        <hr class="mt-4 mb-0 ms-3 me-3">
                        {% if recents.count %}
                            {% for recent in recents %}
                                <a href="{% url 'view-detail' recent.id %}" style="text-decoration: none;">
                                    <h5 class="card-text fs-5 p-3 pb-0 recently">
                                        <span class="fw-bold text-primary">{{recent.activity_name}}</span>
                                        <span class="fw-bold text-dark"> - </span>
                                        <span class="fw-bold text-success">{{recent.activity_xp}}</span>
                                        <span class="fw-bold text-dark">pts - </span>
                                        <span class="fw-bold text-dark">{{recent.updated_at}}</span>
                                        <hr class="text-dark mb-0">
                                    </h5>
                                </a>
                            {% endfor %}
                        {% else %}
                        <h5 class="card-text fs-5 p-3 pb-0"> No Data Available
                            <hr class="text-dark">
                        </h5>
                        {% endif %}
                    </div>
                </div>

            <!-- Form Activity -->
            <div class="d-grid p-1">
                <br>
                    <p class="text-dark fs-4" style="font-weight: bold">Add a New One!</p>
                    <div class="input-group rounded">
                        <span class="input-group-text">Activity</span>
                        <input type="text" class="form-control activityadd" name="name" value="{{values.activity_name}}" id="namefield" placeholder="Activity?" required>
                    </div>
                    <div class="input-group rounded mt-4">
                        <span class="input-group-text">Points</span>
                        <input type="number" class="form-control activityadd" name="xp" value="{{values.activity_xp}}" id="pointsfield" placeholder="..." required>
                    </div>
            </div>

            <!-- Quick XP -->
            <div class="d-sm-flex mt-3 justify-content-md-center d-grid justify-content-sm-center w-100" id="button-group">
                <button type="button" class="btn btn-dark btn-lg fs-6 m-1 w-100 xpadd rounded" onclick="add25()">25 points</button>
                <button type="button" class="btn btn-dark btn-lg fs-6 m-1 w-100 xpadd rounded" onclick="add50()">50 points</button>
                <button type="button" class="btn btn-dark btn-lg fs-6 m-1 w-100 xpadd rounded" onclick="add75()">75 points</button>
                <button type="button" class="btn btn-dark btn-lg fs-6 m-1 w-100 xpadd rounded" onclick="add100()">100 points</button>
                <button type="button" class="btn btn-danger btn-lg fs-6 m-1 w-100 xpadd rounded" onclick="renull()">Reset</button>
            </div>

            <!-- Summary & Dates -->
            <div class="d-grid p-1 mt-3">
                <br>
                    <div class="input-group rounded">
                        <span class="input-group-text">Summary</span>
                        <input type="text" class="form-control activityadd" name="summary" value="{{values.activity_summary}}" id="summaryfield" placeholder="Summary?" required>
                    </div>
                <br>
            </div>

            <!-- Submit Button -->
            <div class="d-grid p-1 mt-3">
                <input type="submit" value="Submit" class="btn btn-success px-5 w-auto xpadd rounded">
            </div>
        </div>
    </form>
</div>

<div class="sticky-container">
    {% include 'partials/_footer.html' %}
</div> 
{% endblock content %}