{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="sticky-container">
    {% include 'partials/_navbar.html' %}
</div> 
{% include 'partials/_messages.html' %}
<div class="px-4 py-5 mt-5 mb-2 text-center">
    <h1 class="display-5 fw-bold mb-2">Experience Level {{int_level}}</h1>
    <br>
    <div class="d-block ms-4 me-4">
        <!-- PROGRESS BAR -->
        <div class="progress">                                          <!-- Bar width is fine -->
            <div class="progress-bar bg-dark" role="progressbar" style="width: {{bar_width}}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="1000"></div>
        </div>
        <h3 class="card-text mt-2 ms-1 mb-3" style="text-align: left;">Points : <span class="text-success" style="font-weight: bold">{{shown_xp}}</span> <span style="font-weight: bold">out of 1000</span></h3>
    </div>
    <br>
    
    <form name="add-activity" action="{% url 'add-activity' %}" method="POST">
        {% csrf_token %}
        <!-- CONTAINER -->
        <div class="d-flex">
            <div class="col-lg-6 mx-auto">
                <div class="card mx-auto border border-dark border-1 shadow p-3 mb-5 bg-body rounded" style="border-radius: 0;">
                    <div class="card-body">
                        <h4 class="lead mb-3 fs-4" style="text-align: left; font-weight: bold; margin-top:-15px; margin-left:-10px;">My recent activities</h4>
                        <h5 class="card-text">Quickie - 05.40 PM - 16th December 2014 (Dummy)</h5>
                    </div>
                </div>

            <!-- Form Activity -->
            <div class="d-grid p-1">
                <br>
                    <p class="text-dark fs-3" style="font-weight: bold">Add a New One!</p>
                    <input type="text" class="form-control activityadd rounded" name="name" value="{{values.activity_name}}" id="namefield" placeholder="Activity?" required>
                    <input type="number" class="form-control activityadd mt-4 rounded" name="xp" value="{{values.activity_xp}}" id="pointsfield" placeholder="Points?" required>
            </div>

            <!-- Quick XP -->
            <div class="d-sm-flex mt-3 justify-content-md-between d-grid justify-content-sm-center" id="button-group">
                <button type="button" class="btn btn-dark btn-lg px-5 m-1 xpadd rounded">25 points</button>
                <button type="button" class="btn btn-dark btn-lg px-5 m-1 xpadd rounded">50 points</button>
                <button type="button" class="btn btn-dark btn-lg px-5 m-1 xpadd rounded">75 points</button>
                <button type="button" class="btn btn-dark btn-lg px-5 m-1 xpadd rounded">100 points</button>
            </div>

            <!-- Summary & Dates -->
            <div class="d-grid p-1">
                <br>
                    <input type="text" class="form-control activityadd rounded" name="summary" value="{{values.activity_summary}}" id="summaryfield" placeholder="Summary?" required>
                    <input type="date" class="form-control activityadd mt-4 rounded" name="date" value="{{values.activity_date}}" id="datefield" placeholder="Date?" required>
                <br>
                <button type="button" class="btn btn-dark btn-lg px-5 w-100 xpadd rounded">Right Now</button>
            </div>

            <input type="submit" value="Submit" class="btn btn-success btn-lg px-5 m-1 mt-4 w-auto xpadd rounded">
        </div>
    </form>
</div>

<div class="container-fluid mt-5 border border-dark border-1 rounded">
    <div class="app-table mt-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>XP Points</th>
                    <th>Summary</th>
                    <th>Date</th>
                </tr>
            </thead>
            {% if activities.count %}
            <tbody>
                {% for activity in page_obj %}
                    <tr class="align-middle">
                        <td>{{activity.activity_name}}</td>
                        <td>{{activity.activity_xp}}</td>
                        <td>{{activity.activity_summary}}</td>
                        <td>{{activity.activity_date}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="align-middle">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody> 
            {% endif %}
        </table>
    </div>

    <div class="container d-flex justify-content-end mb-0" id="pagination-container">
        <div class="mt-2 m-3">
            Page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
        </div>
        <div class="">     
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link text-dark" href="?page=1">&laquo; 1</a></li>
                <li class="page-item"> <a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}">Back</a></li>
                {% endif %}
        
                {% if page_obj.has_next %}
                <li class="page-item"> <a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"> <a class="page-link text-dark" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                {% endif %}
            </ul>           
        </div>
    </div>
</div>

<div class="sticky-container">
    {% include 'partials/_footer.html' %}
</div> 
{% endblock content %}