{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="sticky-container">
    {% include 'partials/_navbar.html' %}
</div> 
{% include 'partials/_messages.html' %}

<div class="row pt-5 ps-0 pe-0 m-0 overflow-auto mh-100">
    <form name="search-activity" action="{% url 'search-activity' %}" method="POST">
        {% csrf_token %}
        <h5 class="mt-5" style="text-align: center; font-weight: bold">Search Activity</h5>
        <!-- Search Bar -->
        <div class="container d-sm-flex justify-content-center d-grid justify-content-sm-center">
            <div class="input-group mt-3 mb-3 rounded" id="search-bar">
                <label class="input-group-text" for="searchInput" style="background-color: white;"><img src="https://www.svgrepo.com/show/14071/search.svg" width="25" height="25" class="flex-shrink-0"></label>
                <input type="text" class="form-control activityadd" name="search" id="searchInput" placeholder="Search" required>
            </div>
            <select class="form-select mb-3 rounded" id="activity-selector">
                <option selected>Activity</option>
                <option value="1">Points</option>
                <option value="2">Date</option>
            </select>
            <input type="submit" value="Search" class="btn btn-dark w-auto xpadd search-button rounded">
        </div>
    </form>

    <!-- Search Result Table -->
    {% if searcher != '' %}
    <div class="container-fluid border border-dark border-1 border-end-0 border-start-0" id="table-container" style="display: block">
        <div class="app-table mt-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Experience</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for activity in page_obj %} 
                    <tr class="align-middle">
                        <td>{{activity.activity_name}}</td>
                        <td>{{activity.activity_xp}} points</td>
                        <td>{{activity.updated_at}}</td>
                        <td><a href="{% url 'view-detail' activity.id %}" class="btn btn-dark btn-sm xpadd">Details</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    
        <div class="container d-flex justify-content-md-end justify-content-sm-center mb-0" id="pagination-container">
            <div class="mt-2 m-3">
                Page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
            </div>
            <div class="">     
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link text-dark" href="?page=1">&laquo; 1</a></li>
                    <li class="page-item"> <a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}">Back</a></li>
                    {% endif %}
            
                    {% if page_obj.has_next %}
                    <li class="page-item"> <a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"> <a class="page-link text-dark" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                    {% endif %}
                </ul>           
            </div>
        </div>
    </div>
    {% else %}
    <div class="container-fluid border border-dark border-1 border-end-0 border-start-0" id="table-container" style="display: none">
    {% endif %}   
</div>


<div class="sticky-container">
    {% include 'partials/_footer.html' %}
</div> 
<br>
{% endblock content %}