{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="sticky-container">
    {% include 'partials/_navbar.html' %}
</div> 

<div class="row pt-5 ps-0 pe-0 m-0">
    <h5 class="mt-5 mb-3" style="text-align: center; font-weight: bold">Activity Details</h5>
</div>

<div class="list-group w-auto">
    <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="https://www.svgrepo.com/show/11536/medal.svg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0 fw-bold">Activity</h6>
                <p class="mb-0 opacity-75">{{activity.activity_name}}</p>
            </div>
            <small class="opacity-50 text-nowrap"></small>
        </div>
    </div>
    <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="https://www.svgrepo.com/show/367765/xp.svg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0 fw-bold">Experience</h6>
                <p class="mb-0 opacity-75">{{activity.activity_xp}} points</p>
            </div>
            <small class="opacity-50 text-nowrap"></small>
        </div>
    </div>
    <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="https://www.svgrepo.com/show/371819/date.svg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0 fw-bold">Date</h6>
                <p class="mb-0 opacity-75">{{activity.updated_at}}</p>
            </div>
            <small class="opacity-50 text-nowrap"></small>
        </div>
    </div>
    <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="https://www.svgrepo.com/show/62998/info.svg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0 fw-bold">Summary</h6>
                <p class="mb-0 opacity-75">{{activity.activity_summary}}</p>
            </div>
            <small class="opacity-50 text-nowrap"></small>
        </div>
    </div>
</div>

<div class="mt-4 d-flex justify-content-center">
    <a href="{% url 'delete-activity' activity.id %}" class="btn btn-md btn-danger w-auto" style="min-width: 200px;">Delete Activity</a>
</div>

<div class="sticky-container">
    {% include 'partials/_footer.html' %}
</div> 
<br>
{% endblock content %}