{% if messages %}
<form action="{% url 'close-modal' %}" method="POST">
  {% csrf_token %}
  <div class="modal d-block py-5 bg-light" role="dialog" style="z-index:999; position: fixed;">
      <div class="modal-dialog" role="document">
          <div class="modal-content rounded-4 shadow" style="margin-top: 25vh;">
              <div class="modal-header border-bottom-0">
                  <h5 class="modal-title fw-semibold">Notification</h5>
              </div>
              <div class="modal-body py-0">
                {% for message in messages %}
                  <p {% if message.tags %} class="fs-5 text-center text-{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
              </div>
              <div class="modal-footer flex-column border-top-0">
                  <!-- Closer -->
                  <input type="submit" value="Done" class="btn btn-lg btn-dark w-100 mx-0 xpadd">
              </div>
          </div>
      </div>
  </div>
</form>
{% endif %}

