<nav class="navbar bg-light fixed-top border-bottom border-dark">
  <div class="container-fluid">
    <h4 class="navbar-brand mt-1">MyXP</h4>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasNavbarLabel">MyXP</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <li class="nav-item">
            <a class="nav-link active fs-5" aria-current="page" href="{% url 'profile' %}">Profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active fs-5" aria-current="page" href="{% url 'progression' %}">Dashboard</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active fs-5" aria-current="page" href="{% url 'activity-list' %}">Activities</a>
          </li>

          <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <input class="nav-link btn btn-link fw-bold fs-5" type="submit" value="Sign out" style="color: black">
          </form>
      </div>
    </div>
  </div>
</nav>