/* Shift + Refresh Button to clear cache */

*{
    font-family: 'Inter', sans-serif;
}

.nav-link{
    transition: all 300ms;
}

.nav-link:hover{
    text-shadow: 0 0 7px #aaaaaa, 0 0 7px #aaaaaa;
}

.nav-link:active{
    text-shadow: 0 0 3px #1674fd, 0 0 5px #1674fd;
}

.input-group{
    border: 1px solid black;
}

.input-group-text{
    background-color: #212529;
    color: white;
}

.xpadd{
    transition: all 300ms;
}

.xpadd:hover{
    color: black;
    background-color: #cdcdcd;
    border-color: #cdcdcd;
}

.xpadd:active{
    color: black;
    background-color: #1674fd;
    border-color: #1674fd;
}

.recently{
    transition: all 300ms;
}

.recently:hover{
    background: #cdcdcd;
}

.recently:active{
    background: lightgreen;
}

#search-bar{
    max-width: 600px;
    margin-right: 18px;
    transition: all 300ms;
}

#activity-selector{
    max-width: 140px;
    border: 1px solid black;
    margin-top: 18px;
    transition: all 300ms;
}

#activity-selector:hover{
    cursor: pointer;
}

.search-button{
    margin: 18px;
    padding-left: 25px;
    padding-right: 25px;
}

#indicator{
    text-align: center;
    margin: 20px;
    width: 97%;
}

.search-title{
    margin-top: 4px;
    margin-right: 8px;
}

#info-popover{
    border: none;
    padding: 2px;
    padding-bottom: 1px;
}

#info-popover:active{
    background-color: #1674fd;
}

#popover-image{
    border: none;
}

.confirmation-button{
    width: 30%;
}

@media only screen and (max-width: 575px) {
    #button-group{
        padding-right: 10px;
    }
    .search-button{
        margin: 0;
        margin-bottom: 10px;
    }
    #activity-selector{
        max-width: 100%;
        margin-top: 0;
    }
    #indicator{
        max-width: 90%;
    }
}

#table-container{
    min-width: 800px;
}