/* Shift + Refresh Button to clear cache */

*{
    font-family: 'Inter', sans-serif;
}

.input-group{
    border: 1px solid black;
}

.input-group-text{
    background-color: #212529;
    color: white;
}

.xpadd{
    transition: all 300ms;
}

.xpadd:hover{
    color: black;
    background-color: lightgreen;
    border-color: white;
}

.xpadd:active{
    color: black;
    background-color: #1674fd;
    border-color: #1674fd;
}

.recently{
    transition: all 300ms;
}

.recently:hover{
    background: #f4f4f4;
}

.recently:active{
    background: lightgreen;
}

#search-bar{
    max-width: 600px;
}

#table-container{
    min-width: 800px;
}