{% extends 'base_auth.html' %} 

{% block content %}

<div class="container">
  <div class="position-absolute top-50 start-50 translate-middle p-4 pt-4" style="min-width: 22rem; max-width: 28rem; max-height: 36rem;">
      <form action="{% url 'login' %}" method="post">
      <div class="row"> 
            <div class="text-center">
                <img class="align-center" src="https://cdn.discordapp.com/attachments/995173807750926346/1011911271010013184/XP_logo_white.png" style="max-width: 120px;">
            </div>
                {% csrf_token %}
                <div class="form-group mt-2">
                    <label for="exampleFormControlInput1" class="form-label">Username</label>
                    <input type="text" name="username" placeholder= "Username" class="form-control" id="usernameField" value="{{fieldValues.username}}"/>
                </div>
                <div class="form-group mt-4 mb-4">
                    <label for="exampleFormControlTextarea1" class="form-label">Password</label>
                    <input type="password" name="password" placeholder="Password" class="form-control" id="passwordField"/>
                </div>
                <div class="container mt-2 mx-auto">
                    <div class="d-flex">
                        <input type="submit" value="Login" class="w-100 m-auto btn btn-outline-dark btn-md" style="width: auto; min-height: 45px;"/>
                    </div>
                </div>
            <p class="text-center mt-4 text-muted">Akosovski &copy;2022</p>
            </div>
        </form>
    </div>
</div>
{% endblock content %}